{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>ETHOS</title>
    <link
      rel="stylesheet"
      href="{% static 'css/home/background-presentation-form.css' %}"
    />
  </head>
  <body>
    <section class="content">
      <div class="welcome-box">
        <div class="welcome-box-content">
          <h3>👋 Bem-vindo à Plataforma</h3>
          <h2 class="title-home">ETHOS</h2>
          <p>
            Acesse o painel de administração e gerencie os cursos, alunos e
            conteúdos.
          </p>
          <a href="/admin/" class="admin-btn">Ir para o Admin</a>
        </div>
      </div>
      <div class="presentation">
        <h2>Ethos</h2>
        <p>cursos integrados</p>
        <h3>Apresenta</h3>
        <div class="cpac">
          <span>C</span>
          <span>P</span>
          <span>A</span>
          <span>C</span>
        </div>
        <p>CURSO DE PSICANÁLISE E ANÁLISES CLÍNICA</p>
        <div class="blockquote">
          <blockquote>
            <span>Velhos universos,</span>
            <span>novas dimensões</span>
          </blockquote>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="presenterImage"></div>
      <div class="background-image"></div>
    </section>
  </body>
</html>